#Rain {
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100vw;
	height: 150vh;
	z-index: -1;

}

.drop {
	background: #ffffff;
	width: 1px;
	height: 10px;
	position: absolute;
	bottom: 100px;
	animation: falling 1.5s linear  infinite;
}

@media (max-width: 600px) {
	#Rain {
		height: 105vh;
	}
}

@keyframes  falling {
	0% {
		transform: translate(0, 0)
	}
	100% {
		transform: translate(0, 1000px)
	}
}