@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');



body {
  margin: 0;
  /* font-family: "poppins", Poppins !important; */
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:
    -webkit-linear-gradient(
        left, 
        rgba(92,129,202,1) 0%, 
        rgba(249,140,112,1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-image: url("../public/images/night.jpg"); */
  
}

@media (max-width: 673px){
  body{
    background:
    -webkit-linear-gradient(
        left, 
        rgba(92,129,202,1) 0%, 
        rgba(249,140,112,1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
}
